
.contact{
    padding: 4%;
    width: 60vw;

}
.col-md-4{
    background: #ff9b00;
    padding: 3%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
    font-family: Copperplate, Papyrus, fantasy;
    text-align: center;

}


.col-md-8{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    margin-top: 5%;
}
.contact-form button:focus{
    box-shadow:none;
}

i {
    position:absolute;
    padding: 5px;
}

.form-control {
    padding-left: 25px;
}